@font-face {
  font-family: myFirstFont;
  src: local("public\font\Domino.otf");
}

.container{
  width: 100%;
}

.body {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }

/* .appname{
  margin-top: 30px;
} */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
.boxna{
  background-color: #FCFCFC;
  border-bottom: 3px solid grey;
  width: 100%;
  
}
  .navbar{
    width: 100%;
    color: aqua;
  }

  .logoname {
    padding-top:22px ;
    font-family:"Roboto";
    font-size: 28px;
    margin-left: 96px;
    color: #9A249C;
    display: inline;
    float: left;

  }
  .logoname li{
    font-family: "Roboto";
    font-size: 20px;
    display: inline;
    float: left;
    list-style: none;
  }
  .nav {
    padding-top: 5px;
    padding-left: 20px;
    margin-left:10px;
    float: left;
  }
  .nav li{
    padding-top: 13px;
    padding-left: 20px;
  }
  .nav a:hover{
      text-decoration: none;
      border-bottom: 3px solid;
      padding: 0;
      margin: 0;
  }

  /* .searchinput{
    
  } */