@font-face {
  font-family: myFirstFont;
  src: local("public\font\Domino.otf");
}

.container{
  width: 100%;
}

.body {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
.boxna{
  margin-top: 20px;
  width: 100%;
  
}
  .navbar{
    width: 100%;
    color: aqua;
  }

  .logoname {
    font-family: "Domino";
    font-size: 41px;
    display: inline;
    float: left;

  }
  .logoname li{
    font-family: "Domino";
    font-size: 20px;
    display: inline;
    float: left;
    list-style: none;
  }
  .nav {
    padding-top: 5px;
    padding-left: 20px;
    float: left;
  }
  .nav li{
    padding-top: 13px;
    padding-left: 20px;
  }